<!DOCTYPE html>
<html>
<head>
{{newLinkCSS "../css/normalize.css"}}
{{newLinkCSS "../css/news/fullNews.css"}}
{{newScript "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}}
<script src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>
<!-- <script>
$('.content')
</script> -->
</head>

<body>
  <!-- <div id = "wrapperForNew"> -->
  <!-- <img class = "imgBanner" src="../media/news/{{imgName}}"> -->
    <!-- <div class = titleAndContentHolder>
      <div class="title">
        {{title}}
      </div> -->
      <!-- <div class = "content">

      </div> -->
      <div id = "editorNews">
      </div>
      <script>
$(document).ready(function(){
  var toolbarOptions = [

    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
['blockquote', 'code-block'],

[{ 'header': 1 }, { 'header': 2 }],               // custom button values
[{ 'list': 'ordered'}, { 'list': 'bullet' }],
[{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
[{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
[{ 'direction': 'rtl' }],                         // text direction

[{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
[{ 'header': [1, 2, 3, 4, 5, 6, false] }],

[{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
[{ 'font': [] }],
[{ 'align': [] }],

['clean'],
['link', 'image']

  ];




  var quill = new Quill('#editorNews', {
  modules: {
    toolbar: toolbarOptions
  },
  theme: 'snow'
});

quill.setContents({{{content}}});
});

        </script>
    <!-- </div> -->
  <!-- </div> -->
</body>
</html>
